/*header*/
.logo{
	float: left;
	height: 90px;
	margin: 5px 123px 26px 140px;
}
.nav-li{
	float: left;
	font-size: 16px;
	margin: 48px auto 51px auto;
}
.nav-a{
	color: #181C28;
	padding: 45px;
}
.clear{
	clear: both;
}
.wraper-image{
	position: relative;
}
.p{ 
	position: absolute;
	top: 130px;
	left: 520px;
}
.p1{
	color: #fff;
	font-size: 22px;
}
.p2{
	color: #fff;
	font-size: 48px;
}
.nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	background-color: #fff;
}
.wraper-image img{width: 100%;}
header {
	margin-bottom: 120px;
}
/*article*/
.h4{
	margin: 92px auto 83px 70px;
	font-size: 22px;
	color: #FF7A00;
}
.container1{
	
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}
.image2{
	width: 570px;
	
}
.child1 h2 {
	width: 519px;
	font-size: 36px;
	margin: auto auto 22px auto;
}
.child1 p{
	width: 570px;
	font-size: 16px;
	margin: auto auto 13px auto;
}
.child2 h2 {
	width: 519px;
	font-size: 36px;
	margin: auto auto 22px auto;
}
.child2 p{
	width: 570px;
	font-size: 16px;
	margin: auto auto 13px auto;
}
.child1 {
	float:left; 
	margin-right: 20px;
}
.child2 {
	float: left;
}
.a-c{
	color: #FF7A00;
}
.pp::after {
	content: '';
	margin-left: 20px;
	width: 47px;
	height: 4px;
	background-color: #FF7A00;
	display: block;
	display: inline-block;
}